[submodule "libs/plog"]
	path = libs/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "libs/libuv"]
	path = libs/libuv
	url = https://github.com/libuv/libuv.git
[submodule "samples/libs/assimp"]
	path = samples/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "test/libs/assimp"]
	path = test/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/stb/stb"]
	path = libs/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/gli"]
	path = libs/gli
	url = https://github.com/g-truc/gli.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
